* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-family: 'Open Sans', sans-serif;
}

.container {
  text-align: center;
  display: inline-grid;
  grid-template-rows:10vh 5vh 75vh 5vh;
  grid-template-columns: 1fr 5fr;
  grid-template-areas: 
    "header header"
    "sidebar nav"
    "sidebar article"
    "footer footer";
  gap: 15px;
  height: 100vh;
  width: 100vw;
}

.container div {
  padding: 15px;
  font-size: 32px;
  font-family: 'Open Sans', sans-serif;
  font-weight: bolder;
  color: white;
}

.header {
  background-color: #393f4d;
  grid-area: header;
  display: grid;
  grid-template-columns: 1fr 4fr;
  gap: 200px;
  align-items: center;
}

.logo {
  
}

.menu {

}

.menu ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.menu ul,
.menu li {
  font-size: 16px;
}

.sidebar {
  background-color: #FF7755;
  grid-area: sidebar;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 40px;
  align-items: center;
  vertical-align: middle;
}

.sidebar .photo {
  background-color: white;
  color: black;
  font-size: 12px;
  font-weight: normal;
  border-radius: 10px;
  height: 100px;
  vertical-align: middle;
}

.photo  {

}

.sidebar .side-content {
  background-color: white;
  color: black;
  font-size: 16px;
  font-weight: normal;
  height: 80%;
}

.nav {
  background-color: #FF7755;
  grid-area: nav;
  vertical-align: middle;
}

.nav ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.nav ul li {
  font-size: 16px;
  text-transform: uppercase;
}

.article {
  background-color: #bccbde;
  grid-area: article;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(250px, 1fr));
  gap: 25px; 
  overflow-y: scroll;
}

.article p {
  font-size: 18px;
  font-family: sans-serif;
  color: white;
  text-align: left;
}

.article .card {
  background-color: #FFFFFF;
  color: black;
  text-align: center;
}

.card p {
  color: black;
  font-weight: normal;
  font-size: 14px;
}

.card .title {
  font-size: 18px;
  text-align: center;
}

.footer {
  background-color: #393f4d;
  grid-area: footer;
}

.footer p {
  font-size: 13px;
  font-weight: normal;  
}

@media only screen and (max-width: 1220px) {
  .header {
    gap: 100px;
  }
}
@media only screen and (max-width: 960px) {
  .header {
    gap: 50px;
  }
}

@media only screen and (max-width: 660px) {
  .header {
    gap: 25px;
  }
}

@media only screen and (max-width: 520px) {
  .header {
    gap: 1px;
  }
}
